body
{
    align-content: center;
    margin-left: 1.25in;
    margin-right: 1.25in;
    border-left: 0.25in #9851fc outset;
    border-right: 0.25in #9851fc outset;
    border-top: 0.15in #9851fc inset;
    border-bottom: 0.15in #9851fc dotted;
    padding-right: 15px;
    background-color: lavender;
}

h1, h2, p, li
{
    font-family: 'Segoe UI', sans-serif;
}

img
{
    margin: 5px;
    margin-top: 5px;
    float: left;
    background-color: palevioletred;
    padding-bottom: 89%;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    width: 240;
    height: 300;
}

#about{background-color: lightsalmon;}
#education{background-color: lightseagreen;}
#experience{background-color: lightgray;}
#skills{background-color:burlywood;}
#achievements{background-color: pink;}

ul
{ 
    list-style-type: square;
}

table
{
    font-family: arial, sans-serif;
    font-size: 12pt;
    border-collapse: collapse;
    width: 74%;
}
td, th
{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 5px;
}
tr:nth-child(even)
{
    background-color: #dddddd;
}